/*
 * ===========================================
 * ONE COLUMN PAGE TEMPLATE
 * ===========================================
 */
.header {
    margin-bottom: 1.4rem;
}
.main {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.logoIparsys {
    text-align: left;
    color: #fff;
    width: 960px;
    margin: 0 auto;

    a {
        color: #fff;
    }
}